<body>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog">Blog</a>

  <h1>About</h1>
  <h2>Me and my new astro sites</h2>

  <p>This is my first time using Astro!</p>
  <p>I think this will be funny!</p>
</body>
